body {
    font-family: Segoe UI;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-box,
.dashboard {
    background: white;
    padding: 25px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background: #2980b9;
}

.task-box {
    display: flex;
    gap: 5px;
}

.task-box input {
    flex: 1;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #ecf0f1;
    margin: 6px 0;
    padding: 8px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.logout {
    background: #e74c3c;
    margin-top: 10px;
}